@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
}

body {
    min-height: 100vh;
    background-color: hsl(216, 12%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating-container {
    width: 23.3em;
    height: 23.3em;
    background-color: hsl(213, 19%, 18%);
    border-radius: 15px;
    padding: 30px;
}

.starBorder {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: hsl(213, 19%, 23%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5em;
}

.text {
    margin-bottom:2.5em;
}

.text h1 {
    font-size: 2em;
    color: white;
    margin-bottom: .2em;
}

.text p {
    color: hsl(217, 12%, 63%);
}

.ratings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    background-color: hsl(213, 19%, 23%);
    color: hsl(216, 12%, 54%);
    cursor: pointer;
}

input:checked + label{
    transition: all 0.2s;
    background-color: hsl(217, 12%, 63%);
    color: white;
}

@media (hover: hover) {
    form label:hover{
    background-color: hsl(25, 97%, 53%);
    color: white;
    cursor: pointer;
    }  
}

input {
    appearance: none;
}

input:checked + label{
    transition: all 0.2s;
    background-color: hsl(217, 12%, 63%);
    color: white;
}


button {
    border: none;
    background-color: hsl(25, 97%, 53%);
    width: 100%;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    padding: 0.8em;
    margin-top: 2.5em;
}

button:hover {
    background-color: white;
    color: hsl(25, 97%, 53%);
}

/* Thank you section  */

.hide {
    display: none !important;
}

.thankYou-container {
    width: 23.3em;
    height: 23.3em;
    background-color: hsl(213, 19%, 18%);
    border-radius: 15px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.thankYou-container img {
    margin-top: 10px;
}

.thankYou-container h1 {
    font-size: 2em;
    color: white;
    margin-top: -60px !important;
}

.thankYou-container p {
    color: hsl(217, 12%, 63%);
    margin-top: -70px;
}

.selectionHolder {
    background-color: hsl(213, 19%, 23%);
    color: hsl(25, 97%, 53%);
    width: 15.3em;
    height: 40px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-top: -30px;
}

#thankYou h1 {
    margin-top: -30px;
}